.jumbotron {
    background: url("../images/programming.jpg");
    background-size: cover;
    height: 350px;
}

body {
    font-size: 16px;
    
}

.jumbotron .container {
    color: whitesmoke;
    padding-top: 30px;
    text-align: center;
}

.navbar-default {
    margin-bottom: 0px;
    background-color: black;
    border: none;
    border-radius: 0px;
}

.navbar-default .navbar-brand {
    color: whitesmoke;
}

.navbar-default .navbar-nav>li>a {
    color: whitesmoke;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: gray;
}

h2 {
    text-align: center;
}

.col-md-4 {
    padding-left: 80px;
    padding-right: 80px;
}

#footer {
    color: black;
    background-color: lightgray;
    margin-top: 20px;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

tr {
    border: inset 5px;
}

td {
    border: inset 5px;
    padding: 5px;
}

table {
    margin: auto;
}

td:nth-child(1) {
    font-weight: bold;
}

span {
    font-weight: bold;
}

.well {
  border: inset 1px;
}